* {
  font-family: "Jost", sans-serif;
}
body {
  background-color: #0a122a;
}
.heading {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #404e7c;
  border: 0.5px solid white;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.searchdiv {
  text-align: center;
  margin-top: 30px;
}
/* .searchbtn {
  padding: 10px;
  border-radius: 5px;
}
.searchbtn:hover {
  background-color: rgba(173, 156, 187, 0.9);
} */
.searchdiv #search {
  width: 80%;
  margin: auto;
  border: 2px solid;
  padding: 15px;
  color: white;
  background-color: #0a122a;
  border-radius: 5px;
}
.searchdiv #search:hover {
  background-color: #404e7c;
}
.article {
  transition: all 0.2s;
}
.article:hover {
  opacity: 0.8;
  transform: scale(1.07);
}
::placeholder {
  color: white;
  opacity: 1;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  li {
    width: 200px !important;
    height: 400px !important;
  }
  img {
    width: 180px !important;
    margin: 10px !important;
  }
  h2 {
    font-size: 15px !important;
    margin: 5px !important;
  }
  p {
    margin: 5px !important;
    font-size: 10px !important;
  }
  span {
    font-size: 10px !important;
  }
}
